@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .title {
        font-size: 32px;
        text-align: center;
    }

    .text {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }

    .header {
        height: 735px;
        background-image: url(img/background_mobile.jpg);
        padding-top: 238.69px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__text {
            margin-bottom: 32px;
        }
    }

    .game-box {
        &__item {
            width: 343px;

            &:hover {
                width: 343px;
            }
        }
    }

    .game {
        height: 653.61px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__img {
            width: 344px;
            height: 236px;
        }
    }
}