* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.title {
  color: #FFF;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
}

.text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 177.778% */
}

.button {
  width: 234.063px;
  height: 48.603px;
  border-radius: 30px;
  border-color: transparent;
  background: #9C0332;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button:hover {
  background: #EB443F;
}

.header {
  height: 1024px;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 217.1px;
}
.header__title {
  max-width: 788.778px;
  font-size: 64px;
}
.header__text {
  max-width: 481px;
  margin-bottom: 44px;
}

.game-box {
  padding-top: 128px;
  padding-bottom: 128px;
  background: #000915;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.game-box__item {
  height: 300px;
  width: 378px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  box-sizing: border-box;
  transition: all 0.3s;
}
.game-box__item:hover {
  border-radius: 16px;
  border: 3px solid #44D2FF;
  width: 378px;
}
.game-box__item:first-child {
  background-image: url(img/games/game-1.jpg);
}
.game-box__item:nth-child(2) {
  background-image: url(img/games/game-2.jpg);
}
.game-box__item:last-child {
  background-image: url(img/games/game-3.jpg);
}
.game-box__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  margin-bottom: 32px;
  margin-left: 32px;
}

.game {
  background: #000915;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.game__title {
  font-size: 48px;
}
.game__text {
  max-width: 584px;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .title {
    font-size: 32px;
    text-align: center;
  }
  .text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .header {
    height: 735px;
    background-image: url(img/background_mobile.jpg);
    padding-top: 238.69px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__text {
    margin-bottom: 32px;
  }
  .game-box__item {
    width: 343px;
  }
  .game-box__item:hover {
    width: 343px;
  }
  .game {
    height: 653.61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .game__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .game__img {
    width: 344px;
    height: 236px;
  }
}/*# sourceMappingURL=style.css.map */